<footer class="footer">
    <div class="footer-container">
        <div class="footer-column">
            <h4 data-en="Navigation" data-es="Navegación">Navigation</h4>
            <ul>
                <li>
                    <a href="__ROOT__/index.html" data-en="Home" data-es="Inicio">Home</a>
                </li>
                <li><a href="__ROOT__/index.html#work" data-en="Work" data-es="Trabajos">Work</a></li>
                <li>
                    <a href="__ROOT__/index.html#skills" data-en="Skills" data-es="Habilidades">Skills</a>
                </li>
                <li>
                    <a href="__ROOT__/index.html#about" data-en="About" data-es="Sobre Mí">About</a>
                </li>
                <li>
                    <a href="__ROOT__/freelance/freelance.html" data-en="Freelance" data-es="Freelance">Freelance</a>
                </li>
                <li>
                    <a href="__ROOT__/index.html#contact" data-en="Contact" data-es="Contacto">Contact</a>
                </li>
            </ul>
        </div>
        <div class="footer-column">
            <h4 data-en="Contact" data-es="Contacto">Contact</h4>
            <ul>
                <li>
                    <a href="mailto:villadafelipe28@gmail.com"><i class="fas fa-envelope"></i>
                        villadafelipe28@gmail.com</a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/felipevillada/" target="_blank"><i class="fab fa-linkedin"></i>
                        LinkedIn</a>
                </li>
                <li>
                    <a href="https://discord.com/users/gronfrog" target="_blank"><i class="fab fa-discord"></i>
                        Discord</a>
                </li>
            </ul>
        </div>
        <div class="footer-column">
            <h4 data-en="Resources" data-es="Recursos">Resources</h4>
            <ul>
                <li>
                    <a href="__ROOT__/Google-UX-Certificate.pdf" target="_blank"><i class="fas fa-certificate"></i>
                        <span data-en="Google UX Certificate" data-es="Certificado UX de Google">Google UX
                            Certificate</span></a>
                </li>
                <li>
                    <a href="__ROOT__/cv/FelipeVillada-CV-En.pdf" target="_blank"
                        data-link-en="__ROOT__/cv/FelipeVillada-CV-En.pdf"
                        data-link-es="__ROOT__/cv/FelipeVillada-CV-Es.pdf"><i class="fas fa-file-alt"></i>
                        <span data-en="My Resume" data-es="Mi CV">My Resume</span></a>
                </li>
            </ul>
        </div>
        <div class="footer-column">
            <h4 data-en="Case Studies" data-es="Casos de Estudio">
                Case Studies
            </h4>
            <ul>
                <li><a href="__ROOT__/projects/tan-bonitos.html">Tan Bonitos!</a></li>
                <li><a href="__ROOT__/projects/casa-oro-real.html">Casa Oro Real</a></li>
                <li><a href="__ROOT__/projects/nefer-museum.html">Nefer Museum</a></li>
                <li><a href="__ROOT__/projects/theatron-app.html">Theatron App</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>
            &copy; 2025 Felipe Villada.
            <span data-en="All Rights Reserved." data-es="Todos los Derechos Reservados.">All Rights Reserved.</span>
        </p>
    </div>
</footer>